*{
    padding:0;
    margin:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-image:url("pexels-jplenio-1165994.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
}
.wrapper{
    position: relative;
    display:block;
    align-items: center;
    justify-content: center;
    background-color:rgba(255, 255, 225, 0.2) ;
    backdrop-filter: blur(10px);
    margin-top:100px;
    height:70vh;
    width:400px;
    margin-left:400px;
    border-radius:20px;
    

}
.me{
    margin:160px 20px;
}
.me a{
    justify-content: center;
    color:white;
    text-decoration: none;
    list-style:none;
    padding:20px;
}
.wrapper h1{
    font-size:30px;
    text-align: center;
    padding:30px 0px;
    text-shadow:0px 0px 8px black;
    text-shadow:0px 0px 12px black;
    text-shadow:0px 0px 16px black;
    
}
.input{
    display: flex;
    margin:40px 50px;
    flex-direction: column;
    gap:40px;
    height:40px;
}
 input{
    padding:10px 0px;
    background-color:white;
    color:wheat;
    box-shadow:0px 0px 8px black;
    box-shadow: 0px 0px 12px black;
    box-shadow:0px 0px 16px black ;
}
button{
    padding:10px 0px;
    background-color:rgba(255, 0, 0, 0.726);
    
}
.button a{
     text-decoration:none;
     list-style:none;
     color:black;
     font-size:18px;
}
#password{
   text-align:center;
   font-size:18px;
   color:rgba(255, 0, 0, 0.726);
}
#username{
    text-align: center;
    font-size:18px;
    color:rgba(255, 0, 0, 0.726);
}
.fa-solid{
    color:black;
    margin-top:-68px;
    padding-left:20px;
}
.wrapper h4{
    font-size:30px;
    text-align: center;
}
i{
    
}

@media (min-width:600px){
       
}