*{
    margin: 0;
    padding:0;
}
table{
    width:100%;
}
td{
 border:1px solid black;
 font-size:20px;
}
h1{
    text-align: center;
    font-size:40px;
}
th{
    font-size:25px;
}